<style>

.rendered_html
{
  color: #2C5494;
  font-family: Ubuntu;
  font-size: 160%;
  line-height: 1.1;
  margin: 0.5em 0;
  }

.rendered_html h1
{
  color: #498AF3;
  line-height: 1.5; 
  page-break-before: always;
  text-align: center;
  font-size: 300%;
}

.rendered_html h1:first-child 
{
  margin-top: 100px;
  margin-bottom: 50px;
}

.rendered_html h2
{ 
  color: #386BBC;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
  font-size: 250%;
}
.rendered_html h2:first-child {
  margin-top: 10px;
  margin-bottom: 20px;
}
.rendered_html h3
{ 
  color: #386BBC;
  font-size: 150%;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
  }

.rendered_html li
{
  line-height: 1.8;
  }

.input_prompt, .CodeMirror-lines, .output_area
{
  font-family: Consolas;
  font-size: 120%;
  margin: 0 auto;
  }
.output_subarea
{
  overflow-y: scroll;
  max-height: 500px;
}
.output_subarea.output_html
{
  overflow-y: auto;
  max-height: none;
  margin: auto;
}
.prompt 
{
    display: None;
}
.gap-above
{
  padding-top: 200px;
  }

.gap01
{
  padding-top: 10px;
  }

.gap05
{
  padding-top: 50px;
  }

.gap1
{
  padding-top: 100px;
  }

.gap2
{
  padding-top: 200px;
  }

.gap3
{
  padding-top: 300px;
  }

.emph
{
  color: #386BBC;
  }

.warn
{
  color: red;
  }

.center
{
  text-align: center;
}

.nb_link
{
  padding-bottom: 0.5em;
}
 iframe::-webkit-scrollbar 
{  
  display: none;
}  

</style>
